@function px($size) {
  @return $size/640*1rem;
}
.data-panel{
  font-size: px(20);
  height:100%;
  width:100%;
  position:absolute;
  display:flex;
  text-align: center;
  li{
    line-height:px(30);
  }
}
.empty-data-tip{
  margin:auto;
}
.empty-data-tip-hide{
  display:none;
}
