@function px($size) {
  @return $size/640*1rem;
}
.classify-panel{
  width:100%;
}
.checkbox-title, .checkbox-class{
  display:inline-block;
  width:px(30);
  height:px(30);
  border:1px solid;
}
.subclass{
  padding-left:px(30);
}
.checkbox-title-selected:before{
  content:'';
  display:inline-block;
  background:green;
  width:px(30);
  height:px(30);
}
.checkbox-class-selected:before{
  content:'';
  display:inline-block;
  background:green;
  width:px(30);
  height:px(30);
}
.toggle-subclass ~ dd{
  display:none;
}
