@function px($size){
  @return $size/640*1rem;
}
.operate-panel{
  font-size: px(20);
  width:100%;
  height:px(200);
  position:fixed;
  bottom:px(60);
  p{
    height:px(40);
    line-height: px(40);
    display:flex;
    justify-content: space-between;
  }
  textarea{
    height:px(160);
    width:100%;
    resize:none;
  }
}
